body {
    animation: rainbow 40s infinite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}

@keyframes rainbow {
    0% { background-color: #fff; }
    2.9% { background-color: #090212; }
    16.9% { background-color: #0f0539; }
    29.2% { background-color: #170854; }
    41.8% { background-color: #0c022a; }
    69.4% { background-color: #170854; }
    100% { background-color: #0f0539;}
}


th, td {vertical-align: top;}

.container {
    width: 31%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

.lab1 {
    margin-bottom: 1rem;
}

.str {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 19px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {color: #f37a00;}

input {
    color: #090909;
    outline: 0;
    outline-offset: 0;
    background-color: #5d2a5a;
}

.btn {
    display: inline-block;
    margin: 5px;
    font-weight: 400;
    color: #8d7d55;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 19px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-op {
    color: #fff;
    background-color: #ff00fb;
    border-color: #4000ff;
}

.btn-op:hover {
    color: #fff;
    transition: background .3s  linear;
    background-color: #ff005d;
    border-color: #ff005e;
}

.btn-op:focus, .btn-danger.focus {
    color: #fff;
    background-color: #ff005e;
    border-color: #d52a1a;
    box-shadow: 0 0 0 0.2rem rgba(235, 101, 88, 0.5);
}

.btn-op.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.btn-op:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #d52a1a;
    border-color: #ca2819;
}

.btn-op:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 101, 88, 0.5);
}

.container-nn {
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}